body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    & img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
}

.container {
    position: absolute;
    top: 0;
    left: 20%;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 50px;
    &__title {
        font-size: 75px;
        line-height: 100px;
        margin-bottom: 50px;
    }
    &__text {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }
}
